/*  DEFAULT FORMATTING  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Calibri", "sans-serif";
}

/*  VARIABLES  */
$primary-color: #009687;
$secondary-color: #f71c1c;
$white: #fff;
$black: #000;

/*  LOGIN PAGE  */
#login-page {
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-card {
    background-color: $white;
    min-height: 90vh;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 20px 20px 60px rgba(0, 0, 0, 0.212),
      20px 20px 15px rgba(0, 0, 0, 0.315);
    .logo {
      height: 60px;
    }
    form {
      width: 100%;
      label {
        color: $black;
        font-weight: bolder;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0 0 5px 0;
        span {
          color: $primary-color;
        }
      }
      .input-field {
        display: flex;
        border-bottom: 1px solid $primary-color;
        margin-bottom: 20px;
        .icon {
          color: $primary-color;
          .MuiSvgIcon-root {
            font-size: 20px;
          }
        }
        .form-control {
          box-shadow: none;
          outline: none;
          border: none;
          background-color: transparent;
        }
      }
      .btn-submit {
        background-color: $primary-color;
        color: $white;
        font-weight: bolder;
        font-size: 20px;
        width: 100%;
        border-radius: 40px;
        margin: 30px 0 0 0;
      }
    }
    .page-title {
      font-size: 16px;
      text-transform: capitalize;
    }
  }
}
@media only screen and (max-width: 380px) {
  #login-page {
    .login-card {
      height: 100vh;
      border-radius: 0;
    }
  }
}

/*  TOGGLER  */

.MuiPaper-root {
  background-color: $primary-color !important;
  width: 250px;
  .logo {
    background-color: $white;
    padding: 30px 0;
    display: flex;
    margin-bottom: 20px;
    .img-fluid {
      height: 40px;
      margin: 0 auto;
    }
  }
  .MuiList-padding {
    padding: 0 !important;
    .MuiSvgIcon-root {
      color: $white;
    }
    .MuiTypography-root {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}

.profile-menu-dropdown{
  .MuiPaper-root{
    background-color: #fff !important;
  }
}

/*  COMMON CLASSES  */
.page-heading {
  background-color: $white;
  color: $primary-color;
  font-size: 20px;
  padding: 2px 20px;
  display: inline-block;
  font-weight: bolder;
  text-transform: uppercase;
}
@media only screen and (max-width: 420px) {
  .page-heading {
    font-size: 18px;
  }
}

/*  DASHBOARD  */
#dashboard {
  background-color: $primary-color;
  padding: 20px;
  color: $white;
  min-height: 100vh;
  .card {
    background-color: $white;
    width: 100%;
    min-height: 120px;
    margin: 10px 0;
    padding: 10px;
    h4 {
      color: $secondary-color;
      font-weight: bolder;
      font-size: 24px;
    }
    p {
      color: $black;
      font-size: 16px;
      text-align: justify;
    }
    .btn {
      background-color: $primary-color;
      color: $white;
      font-weight: bolder;
      font-size: 18px;
      height: 30px;
      padding: 4px 40px;
      box-shadow: none;
    }
  }
}

/*  ADD BLOG  */
#add-blog {
  background-color: $primary-color;
  padding: 20px;
  color: $white;
  min-height: 100vh;
  form {
    .form-group,
    .custom-file {
      margin: 20px 0 0 0;
      .input-label {
        font-size: 18px;
        font-weight: bolder;
      }
      .custom-file-input,
      .form-control {
        box-shadow: none;
        border: none;
        border-radius: 0;
      }
    }
    .btn-submit {
      background-color: $secondary-color;
      color: $white;
      border: none;
      border-radius: 40px;
      font-weight: bolder;
      font-size: 16px;
      width: 100%;
      margin: 30px 0 0 0;
    }
  }
}

/*  VIEW BLOG  */
#view-blog {
  background-color: $primary-color;
  padding: 20px;
  color: $white;
  min-height: 100vh;
  .table {
    .thead {
      background-color: $secondary-color;
      th {
        text-transform: uppercase;
        color: $white;
      }
    }
    .tbody {
      background-color: $white;
      color: $black;
    }
  }
}

/*  ADD COMPANY  */
#add-company {
  background-color: $primary-color;
  padding: 20px;
  color: $white;
  min-height: 100vh;
  form {
    .form-group {
      margin: 20px 0 0 0;
      .input-label {
        font-size: 18px;
        font-weight: bolder;
      }
      .form-control {
        box-shadow: none;
        border: none;
        border-radius: 0;
      margin: 15px 0 20px;
      }
    }
    .btn-submit {
      background-color: $secondary-color;
      color: $white;
      border: none;
      border-radius: 40px;
      font-weight: bolder;
      font-size: 16px;
      width: 100%;
    }
  }
  .table {
    .thead {
      background-color: $secondary-color;
      th {
        text-transform: uppercase;
        color: $white;
      }
    }
    .tbody {
      background-color: $white;
      color: $black;
      .table-btn {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }
  }
}

/*  VIEW QUERY  */
#view-query {
  background-color: $primary-color;
  padding: 20px;
  color: $white;
  min-height: 100vh;
  .table {
    .thead {
      background-color: $secondary-color;
      th {
        text-transform: uppercase;
        color: $white;
      }
    }
    .tbody {
      background-color: $white;
      color: $black;
    }
  }
}

.pagination-btn{
  user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    background-color: #4B49AC;
    cursor: pointer;
}
